@model IEnumerable<App.ViewModels.EventoViewModel>

@{
    ViewData["Title"] = "Ocorreu um erro, desculpe...";
}


<br />
<h4><b>@ViewData["Title"]</b></h4>
<hr />


<p>Você ainda não tem clientes ativos ou cadastrados, impossível cadastrar eventos.</p>

<p><a href="/Clientes/Criar" style="color: blue !important;">Clique aqui</a> para criar um Cliente.</p>