<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.25/css/dataTables.semanticui.min.css" rel="stylesheet" />
</head>
<body>


    <header>
        <nav>
            <a class="logo" href="/">Events Project</a>
            <div id="mbMenu" class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul id="navMenu" class="nav-list">
                <li><a href="/Eventos/Create">Novo Evento</a></li>
                <li><a href="/">Clientes</a></li>
                <li><a href="/Eventos">Eventos</a></li>
                <li><a href="https://api.whatsapp.com/send?phone=83993554444&text=Olá Vagner, gostaria de tirar algumas dúvidas sobre seu projeto de eventos. Poderia me ajudar?" target="_blank">Suporte</a></li>
            </ul>
        </nav>
    </header>


    <main>
        <div class="container">
            @RenderBody()
        </div>
    </main>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/navbar/mobile-navbar.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.semanticui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>


    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>
